*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/libs/
app/src/main/res/xml/
app/src/test/java/com/danilomendes/figurines/ui/
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
